--- layout: default onepage: true services: - title: Development icon: fa fa-laptop-code desc: You have an idea, a need or a problem and you would like to convert it into a digital solution so that you can go even further and faster. We can help you convert
this spark into the application that will allow you to be the best on the market. bg: /assets/images/@stock/service-item-5-bg.jpg - title: Consulting icon: fa fa-briefcase desc: Sense of Tech can support you in your developments in terms of IT architecture,
IT development, etc. bg: /assets/images/@stock/service-item-1-bg.jpg - title: Coaching icon: fa fa-tv desc: The best way to make its developers evolve is to develop their skills. In addition to having more competent developers, you have happy developers.
bg: /assets/images/@stock/service-item-2-bg.jpg - title: Training icon: fa fa-chalkboard-teacher desc: We can give you training to increase your skills, do not hesitate to contact us to establish together an efficient training plan that will meet your
needs. bg: /assets/images/@stock/service-item-3-bg.jpg - title: Automation icon: fa fa-ethernet desc: We are able to carry out your domestic installations in order to cable and install an internet exchange in one area and allow you to avoid having cables
everywhere. bg: /assets/images/@stock/service-item-4-bg.jpg - title: Solution icon: fa fa-bullseye desc: We have other areas of expertise, do not hesitate to contact us for a list. bg: /assets/images/@stock/service-item-6-bg.jpg works: - path: _works/diff-foods.md
- path: _works/sketch-book.md - path: _works/tv-video.md style: wide - path: _works/umbrella-beauty.md - path: _works/amber.md - path: _works/explore.md - path: _works/uro-mag.md style: wide - path: _works/flowers.md members: - avatar: /assets/images/@stock/member-7.png
name: Adrien Clerbois position: Founder socials: - link: https://twitter.com/aclerbois icon: twitter - link: https://www.linkedin.com/in/aclerbois/ icon: LinkedIn desc: "I created Sense of Tech to give me the means to help those around me. I am Microsoft
MVP and this title allows me to travel and meet a lot of people with infinite knowledge." title: Sense of Tech - Leap to your Innovation team_slides: - /assets/images/@stock/slide-full-8.jpg - /assets/images/@stock/slide-full-1.jpg - /assets/images/@stock/slide-full-10.jpg
testimonials: - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum
est." author: name: "David White" avatar: '/assets/images/@stock/author-avatar-1.png' position: 'Designer at Huglab' - quote: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
erat volutpat consectetuer sit amet magna adipiscing." author: name: "David White" avatar: '/assets/images/@stock/author-avatar-2.png' position: 'Designer at Huglab' - quote: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus
id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est." author: name: "David White" avatar: '/assets/images/@stock/author-avatar-3.png' position: 'Designer at Huglab' clients: - /assets/images/@stock/client-8.png - /assets/images/@stock/client-1.png
- /assets/images/@stock/client-2.png - /assets/images/@stock/client-3.png - /assets/images/@stock/client-4.png - /assets/images/@stock/client-5.png - /assets/images/@stock/client-9.png - /assets/images/@stock/client-7.png ---
<!-- - /assets/images/@stock/client-6.png   -->
<div class='full no-padding parallax home-video-wrapper'>

    <div class='fullscreen' style="background-image: url(/assets/images/@stock/wall1.jpg); background-clip: revert; background-position: center;background-size: cover;">

        <!-- <video autoplay='autoplay' id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/images/@stock/wall1.jpg" | relative_url }}' type='video/mp4'>
    </video> -->
        <div class='overlay'></div>
        <div class='layer'>
            <p class="small-title">Make the right choice </p>
            <h1 class='thin' id="to-be-update">
                <span class="fir">Too fast</span><br/>
                <span class="sec">Too wild</span><br/>
                <span class="thir">Too different</span>
            </h1>
            <h2 class='thin'>
                It's time to your company and you to make the leap to your innovation. {% assign nav_obj = site.data.nav | where:'section_id','works' | first %}
                <a href='{{ "index.html" | append:nav_obj.path | relative_url }}'>View our works</a>
            </h2>
        </div>
    </div>
</div>


<a id='about'></a>
<div class='full'>
    <div class='row'>
        <div class='large-8 columns large-centered'>
            <div class="section-title">
                <p class="small-title">Your business first.</p>
                <h2>
                    Creating solutions <br/> is what we do best.
                </h2>
                <p class="big-size">We are creating solutions for any kind of project, think about how level up your business and we achieve the rest.</p>
                <div class="four spacing"></div>
                <img src="{{ " /assets/images/logo-black.png " | relative_url }}" alt="">
            </div>
        </div>
        <div class="four spacing"></div>
    </div>
</div>
<div class="full no-overflow no-padding parallax" style="background-image: url({{ " /assets/images/@stock/about-1.jpg " | relative_url }})">
    <div class="right-half">
        <div class="two spacing"></div>
        <div class="section-header alt white">
            <h2>Solution oriented</h2>
        </div>
        <p class="light">We created Sense of Tech to find digital solutions for companies, smes and individuals who want to find ways to accelerate their ambitions.</p>
        <p class="light">Sense of Tech is also an easy contact between a company full of ambition and the desire to create a better world. We invest our time in communities but also in works that reflect on tomorrow such as ISIT-BE.</p>
        <div class="two spacing"></div>
        <a href="#team" class="button small">Meet the team</a>
        <div class="three spacing"></div>
    </div>
</div>


<a id='services'></a>
<div class='full'>
    <div class='row'>
        <div class='large-8 columns large-centered'>
            <div class="section-title">
                <p class="small-title">main services</p>
                <h2>We transform business.</h2>
            </div>
        </div>
    </div>
</div>
<div class='full no-overflow no-padding'>
    <div class='main-services'>
        {% for item in page.services %}
        <div class='medium-6 large-4 columns'>
            {% include service.html service=item %}
        </div>
        {% endfor %}
    </div>
</div>

<!--
<a id='works'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="take a look" title="What we recently do." %}
    </div>
  </div>
</div>
<div class='full no-padding' id="demo-1-works">
  <div class='mod modMasonryGallery'>
    <ul class='gallery'>

      {% for item in page.works %}

        {% assign work = site.works | where:"path",item.path | first %}

        {% if item.style == 'wide' %}
          {% assign class = 'wide' %}
          {% assign width = 1000 %}
          {% assign height = 350 %}
        {% else %}
          {% assign class = '' %}
          {% assign width = 500 %}
          {% assign height = 350 %}
        {% endif %}

        <li class="{{class}}">
          <a href='{{ work.url | relative_url }}'>
            <img width="{{width}}" height="{{height}}" alt="" src="{{ work.thumbnail | relative_url }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title | downcase | capitalize }}</h3>
                <p>{{ work.categories | join:" & " | escape }}</p>
              </div>
            </div>
          </a>
        </li>

      {% endfor %}

    </ul>
  </div>
</div>
<div class='full dark no-padding '>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3 class="white">Customized to meet your needs.</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur inventore minimar.
      </p>
    </div>
    <div class='large-4 columns'>
      <p>
        <a class='button small boxed' href='#'>Download Now</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
-->

<a id='team'></a>
<div class='full dark-grey'>
    <div class='row'>
        <div class='large-8 columns large-centered'>
            {% include section-title.html small_title="The team" title="Hello! This is Sense of Tech." %}
        </div>
    </div>
</div>
<div class="full dark-grey no-padding">
    <div class="members">
        {% for member in page.members %}
        <div class=" columns">
            <div class='member-avatar'>
                <img class="avatar" alt="" src="{{ member.avatar | relative_url }}" />
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="full no-padding team-bg">
    <div class="div member-decs">
        {% for member in page.members %}
        <div class="large-3 columns" style="margin-left: 38%;">
            <div class='member-dec'>
                <div class='intro'>
                    <h3>{{ member.name | escape }}</h3>
                    <h4>{{ member.position | escape }}</h4>
                    <p>{{ member.desc | escape }}</p>
                    <ul class='socials'>
                        {% for social in member.socials %}
                        <li>
                            <a href='{{ social.link }}'>
                                <i class='fa fa-{{ social.icon }}'></i>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="four spacing"></div>
</div>
<div class="full no-padding">
    <div class='mod modBoxedSlider' data-timeout='1500'>
        <div class='slides'>
            {% for image in page.team_slides %}
            <div class='slide'>
                <img width="1200" height="800" alt="" src="{{ image | relative_url }}" />
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!--
<a id='blog'></a>
<div class='full grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="latest posts" title="Wrap ideas." %}
    </div>
  </div>
</div>
<div class="full grey no-padding no-overflow">
  {% for post in site.posts limit:3 %}
    <div class='large-4 columns'>
      <div class='mod modBlogPost simple'>
        <div class='content'>
          <p class='date'>{{ post.date | date: "%B %d, %Y" }}</p>
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <div class='spacing'></div>
          <p>
            <a class='button boxed yellow tiny' href='{{ post.url | relative_url }}'>Read more</a>
          </p>
        </div>
      </div>
      <div class="four spacing"></div>
    </div>
  {% endfor %}
</div>
-->

<!--

<div class='full no-overflow no-padding parallax' style="background-image: url({{ "/assets/images/@stock/customers-bg.jpg" | relative_url }})">
  <div class="left-half">
    <div class="two spacing"></div>
    <div class="row">
      <div class="section-header alt white">
        <h2>What our clients say</h2>
      </div>
      <div class='mod modTestimonials simple'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items'>
              {% for t in page.testimonials %}
                <div class='item'>
                  <p class='quote'>{{ t.quote }}</p>
                  <div class="two spacing"></div>
                  <div class='author'>
                    <p class='author-avatar'>
                      <img width="80" height="80" alt="" src="{{ t.author.avatar | relative_url }}" />
                    </p>
                    <p class='author-name'>
                      -
                      <strong>{{ t.author.name }}</strong>
                      {%- if t.author.position %}, {{ t.author.position }}{% endif %}
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<div class='full'>
    <div class='row'>
        <div class='large-8 columns large-centered'>
            {% include section-title.html small_title="we are happy" title="Featured clients" %}
        </div>
    </div>
</div>
<div class="full no-padding">
    <div class="clients">
        <div class='row'>
            {% for client in page.clients %}
            <div class='large-3 medium-6 small-6 columns'>
                <div class="client">
                    <a href="javascript:void(0)"><img alt="" src="{{ client | relative_url }}" /></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="four spacing"></div>
</div>

<div class="four spacing"></div>
<a id='contact'></a>
{% include contact-form.html %} {% include social-networks.html %}